**/.ipynb_checkpoints
**/__pycache__
*.json
*.params
*.csv
build/README.md
build/environment.yml
/chapter_gluon-basics/x
/chapter_gluon-basics/xy
/chapter_gluon-basics/mydict
*egg-info*
dist*
build/chapter*
build/_build
build/img
build/data
build/d2l
.DS_Store
*/.DS_Store
_build/